<% provide(:title, 'About UvA courses')%>
<h1> About UvA courses</h1>
	<p>
		UvA courses is a mobile wep application where users can shop for courses that are given by 		   the University of Amsterdam. This application allows the user to look up different courses, 		   their information and (if they'd like) add them to a shopping list.
	</p>
