<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	if you dont get it AT ALL you can't contact me. You can however take a look at either <a href="http://apps.mprog.nl"> app studio </a> or <a href="http://www.uva.nl"> UvA </a>.
</p>