<% provide(:title, 'UvA courses') %>
<div class="center hero-unit">
<h1>UvA courses</h1>

<h2>This is the home page for the UvA courses web application<h2>
	
	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-info" %>
</div>

<%= link_to image_tag("uva.jpg", alt: "uva"), 'http://www.uva.nl' %>

