<!-- show file for viewed courses -->

<table class="table table-striped">
	<tr>
		<th> Course </th>
		<th> info </th>
	</tr>
	<% @taken.each do |course| %>
	<tr>
		<td>
			<%= course.course_name.html_safe %>
		</td>
		<td>
		  <a href="<%= "/courses/view/#{course.id}" %>" role="button" class="btn btn-default btn-xs" >
			  <span class="glyphicon glyphicon-info-sign"></span>
		  </a>
		</td>
	</tr>
	<% end%>
</table>