<div class="row">
  <aside class="col-sm-offset-4 col-sm-4">
    <section>
      <h1>
		  shopped courses
      </h1>
	  <div class="row">
	    <div class="col-lg-6">
	      <div class="input-group"> 
	        <span class="input-group-addon">
	          <input type="radio">
	        </span>
	      </div><!-- /input-group -->
		  <div><%= link_to "Add selected courses", '#', class: "btn btn-lg btn-info" %></div>
		  <div><%= link_to "Remove selected courses", '#', class: "btn btn-xs btn-danger" %></div>
	    </div><!-- /.col-lg-6 -->
	  </div><!-- /.row -->
    </section>
  </aside>
  </div>
</div>