<h1><% provide(:title, 'Search results') %></h1>
<div class="row">
  <aside class="col-sm-offset-4 col-sm-4">
    <section>
      <h1>
        Search results
      </h1>
    </section>
  </aside>
  </div>
</div>

<ul class = 'unstyled'>
	<% @courses.each do |course| %>
	<li><%= course.name.html_safe %></li>
	<%= course.ects %><br>
	<%= course.institute.html_safe %>
		<% end %>
	</ul>

